@model List<RecruitmentManagementSystem.Models.Users>
@{
    Layout = "AdminLayout";
}

<h2>All Registered Users</h2>

@if (TempData["errorMessage"] != null)
{
    <div class="alert alert-danger">@TempData["errorMessage"]</div>
}

<div class="card-container">
    @foreach (var user in Model)
    {
        <div class="card">
            <h3>@user.FirstName @user.LastName</h3>
            <p><strong>Email:</strong> @user.Email</p>
            <p><strong>Role:</strong> @user.Role</p>
            <p><strong>Username:</strong> @user.Username</p>
            <div>
                @Html.ActionLink("Deactivate", "DeactivateUser", new { id = user.UserId }, new { @class = "btn btn-primary" })
            </div>
        </div>
    }
</div>


