@model RecruitmentManagementSystem.Models.JobCreationsModel

@{
    Layout = "AdminLayout";
}

<h1>Delete Job</h1>

<hr />
<div class="form-container">
    <div>
        <div class="gap">
            <a asp-action="ManageJobs" class="btn btn-secondary">Back to List</a>
        </div>
        <h3>Are you sure you want to delete this job?</h3>

        <div>
            <label>Job Title</label>
            <p>@Model.JobTitle</p>
        </div>

        <div>
            <label>Job Description</label>
            <p>@Model.JobDescription</p>
        </div>

        <div>
            <label>Required Skills</label>
            <p>@Model.RequiredSkills</p>
        </div>

        <div>
            <label>Experience</label>
            <p>@Model.Experience</p>
        </div>

        <div>
            <label>Salary Range</label>
            <p>@Model.SalaryRange</p>
        </div>

        <div>
            <label>Deadline</label>
            <p>@Model.Deadline</p>
        </div>

        <form asp-action="DeleteJob" method="post">
            <input type="hidden" asp-for="JobId" />

            <div>
                <button type="submit" class="btn btn-danger">Delete</button>
            </div>
        </form>

        
    </div>
</div>
