@model List<RecruitmentManagementSystem.Models.JobCreationsModel>
@{
    Layout = "CandidateLayout";
}
<h2>Current jobs</h2>

@if (TempData["errorMessage"] != null)
{
    <div class="alert alert-danger">@TempData["errorMessage"]</div>
}

<div class="card-container">
    @foreach (var jobs in Model)
    {
        <div class="job-card">
            <div class="card-header">
                <div class="job-poster">
                    <img src="data:image/jpeg;base64,@jobs.PosterPhotoBase64" alt="Job Poster" width="100" height="100" />
                </div>
                <h4>@jobs.JobTitle</h4>
            </div>
            <div class="card-body">
                <p><strong>Skills:</strong> @jobs.RequiredSkills</p>
                <p><strong>Experience:</strong> @jobs.Experience</p>
                <p><strong>Salary Range:</strong> @jobs.SalaryRange</p>
                <p><strong>Deadline:</strong> @jobs.Deadline.ToString("yyyy-MM-dd")</p>
            </div>
            <div class="card-footer">
                <a href="@Url.Action("ApplyforJob", new { id = jobs.JobId })" class="btn btn-primary">Apply</a>

            </div>
        </div>
    }
</div>
