@model List<RecruitmentManagementSystem.Models.JobCreationsModel>

@{
    Layout = "CandidateLayout";
}

<head>
    <link href="~/css/style.css" rel="stylesheet" />
</head>

<div>
    <div>
        <div class="banner text-center">
            <img src="~/images/recruitment-banner.webp" alt="Recruitment Management Banner" class="img-fluid">

            <div class="banner-overlay">
                <h1></h1>
                <p>Streamlining your hiring process efficiently and securely.</p>
            </div>
        </div>
    </div>
</div>


<div class="card-container">
    @foreach (var jobs in Model)
    {
        <div class="job-card">
            <div class="card-header">
                <div class="job-poster">
                    <img src="data:image/jpeg;base64,@jobs.PosterPhotoBase64" alt="Job Poster" width="100" height="100" />
                </div>
                <h4>@jobs.JobTitle</h4>
            </div>
            <div class="card-body">
                <p><strong>Skills:</strong> @jobs.RequiredSkills</p>
                <p><strong>Experience:</strong> @jobs.Experience</p>
                <p><strong>Salary Range:</strong> @jobs.SalaryRange</p>
                <p><strong>Deadline:</strong> @jobs.Deadline.ToString("yyyy-MM-dd")</p>
            </div>
            <div class="card-footer">
                <a asp-controller="Candidate" asp-action="Applications" class="btn btn-secondary">Details</a>
            </div>
        </div>
    }
</div>
